:root {
    --color-01: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

#container .circle {
    margin: 40px;
    width: 241px;
    height: 241px;
    border: 1px solid black;
    background-color: var(--color-01);
    border-radius: 50%;
    animation: changeColor 6s ease infinite;
}

#container .input-data {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container .input-data input {
    text-align: center;
    padding: 10px;
    width: 50%;
    border: 1px solid black;
}
 
#container .interation-buttons button:last-child {
    margin-right: 0;
}

#container .interation-buttons button {
    margin: 40px 38px 59px 0;
    width: 121px;
    height: 61px;
    border: 1px solid black;
}

@keyframes changeColor {
    0% {background-color: var(--color-01);}
}